<!DOCTYPE html>
<html>
<head>
<title>Main page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main">

  <!-- Header -->
  <header id="main page">
    <div class="w3-container">
    <h1><b>Greenhouse</b></h1>

    </div>
  </header>
  
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img id="img1" src="../static/pic1.jpg" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Plant 1</b></p>
        <p id="plant1"></p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img id="img2" src="../static/pic2.jpg" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Plant 2</b></p>
        <p id="plant2"></p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img id="img3" src="../static/pic3.jpg"  style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Plant 3</b></p>
        <p id="plant3"></p>
      </div>
    </div>
  </div>
 
  <button type="button" onclick="checkPlants()">Check plants</button>

  <!-- Footer -->
<!-- End page content -->
</div>

<script>
window.onload = function() {
  setInterval(function() { updateAllPlants()}, 10000); //update every 10 seconds
  updateImages()
}

function updateAllPlants()
{
   var xmlHttp = new XMLHttpRequest();
   xmlHttp.open( "GET", "/api/plants", false ); // false for synchronous request
   xmlHttp.send( null );
   var response = JSON.parse(xmlHttp.responseText);
   document.getElementById("plant1").innerHTML = "Soil humidity: " + response["plant1"]["humidity"]*100 + "%<br>" +
   "Temperature: " + response["plant1"]["temperature"] + "°C<br>" + "Light: " + response["plant1"]["light"] + " lux<br>"

   document.getElementById("plant2").innerHTML = "Soil humidity: " + response["plant2"]["humidity"]*100 + "%<br>" +
   "Temperature: " + response["plant2"]["temperature"] + "°C<br>" + "Light: " + response["plant1"]["light"] + " lux<br>"

   document.getElementById("plant3").innerHTML = "Soil humidity: " + response["plant3"]["humidity"]*100 + "%<br>" +
   "Temperature: " + response["plant3"]["temperature"] + "°C<br>" + "Light: " + response["plant3"]["light"] + " lux"
}

function checkPlants() {
  var xmlHttp = new XMLHttpRequest();
  xmlHttp.open("GET", "/api/camera", false)
  xmlHttp.send(null)
  setTimeout(updateImages, 3*60);
}

function updateImages() {
  document.getElementById('img1').src = "../static/pic1.jpg";
  document.getElementById('img2').src = "../static/pic1.jpg";
  document.getElementById('img3').src = "../static/pic1.jpg";
}

</script>



</body>
</html>